<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue js</title>
</head>
<body>

<!-- Текст -->

<!-- Наиболее простой способ связывания данных — это текстовая интерполяция с использованием синтаксиса Mustache (двойных фигурных скобок): -->
<span>Сообщение: {{ msg }}</span>

<!-- Выражение в фигурных скобках будет заменено значением свойства msg соответствующего объекта данных. Кроме того, оно будет обновлено при любом изменении этого свойства. -->
<!-- Возможно также выполнение однократной интерполяции, которая не обновится при изменении данных — используйте для этой цели директиву v-once, но учтите, что это повлияет сразу на все связанные переменные в рамках данного элемента: -->
<span v-once>Это сообщение никогда не изменится: {{ msg }}</span>





<!-- Сырой HTML -->

<!-- Значение выражения, обрамлённого двойными фигурными скобками, подставляется как простой текст, а не как HTML. Если вы хотите вывести HTML, вам понадобится директива v-html: -->
<div v-html="rawHtml"></div>
<div id="example"></div>





<!-- Атрибуты -->

<!-- Синтаксис двойных фигурных скобок не работает с HTML-атрибутами, используйте вместо него директиву v-bind: -->
<div v-bind:id="dynamicId"></div>
<!-- С булевыми атрибутами этот метод тоже работает. Если переданное свойство ложное, атрибут будет удалён полностью: -->
<button v-bind:disabled="someDynamicCondition">Кнопка</button>




<!-- Использование выражений JavaScript -->

<!-- До сих пор мы связывали данные со свойствами в шаблонах только по простым ключам. Но на самом деле при связывании данных Vue поддерживает всю мощь выражений JavaScript: -->
<!-- {{ number + 1 }} -->
<!-- {{ ok ? 'YES' : 'NO' }} -->
<!-- {{ message.split('').reverse().join('') }} -->
<div v-bind:id="'list-' + id"></div>
<!-- Эти выражения будут вычислены как JavaScript-код в области видимости соответствующего инстанса Vue. Единственным ограничением является то, что допускается только одно выражение, так что код ниже НЕ сработает: -->
<!-- это не вычисляемое выражение, а определение переменной: -->
<!-- {{ var a = 1 }} -->
<!-- операторы управления потоком выполнения тоже не сработают, используйте директиву условия: -->
<!-- {{ if (ok) { return message } }} -->




<!-- Директивы — это специальные атрибуты с префиксом v-. В качестве значения такие атрибуты принимают одно выражение JavaScript (за исключением v-for, о которой ниже). Директива реактивно применяет к DOM изменения при обновлении значения этого выражения. Давайте вспомним пример, который мы видели во введении: -->
<p v-if="seen">Сейчас меня видно</p>
<!-- В данном случае директива v-if удалит или вставит элемент <p> в зависимости от истинности значения выражения seen. -->


<!-- Аргументы -->

<!-- Некоторые директивы могут принимать “агрумент”, разделённый с названием директивы двоеточием. Например, директива v-bind используется для реактивного обновления атрибутов HTML: -->
<a v-bind:href="url"></a>
<!-- В данном случае href — аргумент, указывающий директиве v-bind связать атрибут href элемента со значением выражения url. -->
<!-- В качестве другого примера можно привести директиву v-on, которая слушает события DOM: -->
<a v-on:click="doSomething">
<!-- В данном случае аргументом является название типа событий. На обработке событий мы также подробнее остановимся позднее. -->


<!-- Модификаторы -->

<!-- Модификаторы — это особые постфиксы, добавляемые после точки, которые указывают, что директива должна быть связана каким-то определённым образом. Например, модификатор .prevent говорит директиве v-on вызвать event.preventDefault() при обработке произошедшего события: -->
<form v-on:submit.prevent="onSubmit"></form>
<!-- Мы увидим больше примеров применения модификаторов позднее, когда будем более подробно разбирать v-on и v-model. -->



<!-- mustache -->
{{ message | capitalize }}
<!-- v-bind -->
<div v-bind:id="rawId | formatId"></div>





<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>